// _base.scss
// ---------------------------------------------------------------------------//

body {
 	background-color:white;
  	font-family: $mainFont;
  	font-size: 1.1em;
  	line-height: 1.6;
	color: $ltBlack;
}

.containerWrapper{
	padding: 90px 0px; 

	.container{
		margin: 0 auto; 
		padding: 0px 2em; 
		//border: solid 1px $ltBlack; 
	}
}


#visualLead{// Container Wrapper
	background-color: $offWhite;
	background: url(../img/road.jpg) no-repeat 50% center fixed;
    background-size: cover;
    min-height: 530px;
    color:white;
    position:relative;
    .container{
    	position:absolute;
    	top:50%;
    	left:50%;
    	transform:translate(-50%,-50%); 
	    h2{
	    	text-align:center;
	    	font-size: 2.3em; 
	    	padding: 10px;  
	    }
	    p{
	    	text-align:center;
	    	margin: 10px auto; 
	    }
	}
}
#team{
	background-color: $dumontDkBlue;
	color:white; 
	.container{
		h2{
			text-align: center;
    		font-size: 2.5em;
    		padding: 0;
		}
		.shortSeperator{
			width: 90px;
		    margin: 15px auto 30px auto;
		    border: solid 3px white;
		}
		p{
			text-align: center; 
			font-weight: lighter;
			margin-bottom:20px; 
		}

		.teamImages{
			display:flex; 
			flex-direction:row; 
			flex-wrap: wrap; 
			justify-content: center; 
			
			figure{
				//flex-basis:auto; 
				//flex-grow:1; // need to decide if i want to keep or not
				padding: 20px 0;
				//border: solid 1px $ltBlack;
				margin: 10px 15px;
				position: relative;
    			overflow: hidden;
    			&:hover{
    				.teamMemberQuote{
    					display: unset;
    				}
    			}

				img{
					border-radius: 100%;
					display:block;
					margin:0 auto; 
					max-width: 200px;
					max-height: 200px; 
					min-width:200px;
					min-height:200px;
					// &:hover{
    	// 				.teamMemberQuote{
    	// 					display: unset;
    	// 				}
    	// 			}
				}

				h4{
					text-align:center; 
				}
				.teamMemberTitle{
					font-weight:lighter;
					text-align: center; 
				}
				.teamMemberDescription{
					text-align: center; 
					max-width:300px; 
					margin: 0 auto; 
					padding: 10px; 
				}
				.teamMemberQuote{
					width: 200px;
				    height: 200px;
				    border-radius: 100%;
				    //border: solid 1px #f6ede2;
				    font-size: 0.8em;
				    padding-top: 30px;
				    padding: 55px 20px;
				    position: absolute;
				    top: 20px;
				    background-color: hsla(201, 30%, 17%, 0.75);
				    text-align: center;
				    color: white;
				    font-weight: bold;
				    display:none;
				}
			}	
		}
		h3{
			text-align: center;
		    font-size: 1.6em;
		    padding: 0 0 30px 0;
		    font-weight: normal;
		}
	}
}
#contact{
	background-color: white;
	.container{
		
		h2{
			font-size: 2.5em;
			text-align: center;
    		padding: 0 0 0px 0;
		}
		.shortSeperator{
			width: 90px;
		    margin: 15px auto 30px auto;
		    border: solid 3px black;
		}
		.thinSeperator{
			border: 0;
    		border-top: 1px solid #eeeeee;
    		margin: 30px auto; 
		}
		h3{
			text-align: center;
    		font-size: 1.6em;
    		padding: 0 0 30px 0;
    		font-weight: normal;
		}

		p{
			text-align: center; 
			font-weight: lighter;
		}

		form{
			margin-top: 10px;
		    //background: rgba(128, 128, 128, 0.09);
		    //border:solid 1px black; 
		    padding: 30px 0;
		    @media screen and (min-width: 760px) {
		    	display: flex;
			    justify-content: center;
		    }
		    .formGroupInfo, .formGroupComment{
		    
		    	width:100%;
		    	@media screen and (min-width: 760px) {
		    		padding: 0 30px; 
		    	}
		    
		    	label{
		    		display: block;
    				margin: 0 0 5px 0;
		    	}
			    input,textarea{
			    	height: 32px;
			    	display: block;
				    width: 100%;
				    margin: 0 0 15px 0;
				    background: #fafafa;
				    border: solid 1px #e9e9e9;
				    padding: 5px 10px;
				    color: #848484;
				    
				    @media screen and (min-width: 960px){
				    	height: 64px; 
				    }
			    }
			    textarea{
			    	height:195px; 
			    	@media screen and (min-width: 960px){
				    	height: 290px; 
				    }
			    }
			    button{
			    	text-transform: uppercase;
			    	font-weight: 600;
			    	padding: 12px 42px; 
			    	border: solid 3px $dumontDkBlue;
			    	background: $dumontDkBlue;
			    	color:white; 
			    	min-width:140px;
			    	text-align: center;
			    	border-radius: 3px; 
			    	display: block;
				    margin: 0px auto;
				    width: 100%;
					&:hover{
						color: $dumontDkBlue; 
						background:white;
						border: solid 3px $dumontDkBlue;
					}
					@media screen and (min-width:760px ){
						width:60%;
					    margin: 0px 0 0 auto;
					}
			    }
		    }
		    
		}
		.directions{
			margin: 20px 0; 
			@media screen and (min-width: 560px) {
		    	display: flex;
			    justify-content: center;
		    }
			.address{
				@media screen and (min-width: 560px) {
					flex-basis: 40%; 
		    	}
				@media screen and (min-width: 860px) {
					font-size:1.7em; 
		    	}		    	
				margin:20px 0; 
				h4{
					font-size: 1.5em;
				    font-weight: initial;
				    text-align: center;
				    margin: 10px 0;
				}
				p{
					text-align: center;
    				font-size: 0.8em;
				}
				.miniSeperator{
					width: 15px;
    				margin: 10px auto;
    				border: 0;
    				border-top: solid 2px #8a8a8a;
				}
			}
			iframe{
				@media screen and (min-width: 560px) {
					flex-basis: 50%; 
		    	}
				width:100%; 
				min-height:320px;
			}
		}
	}
}




.stickyFooter{
	min-height: calc(100vh - 101px);
}
footer{
	background-color:$dumontDkBlue; 
	color:white; 
	text-align: center;
	padding: 2em 0;
	font-size:0.7em; 
	a{
		color:white;
		text-decoration:none;
		img{
			vertical-align: text-top;
		    width: 12px;
		    height: 12px;
		    margin-left: 0px;
		}
		&:hover{
			color:$dumontLtBlue; 
		}
	}
}

