// _base.scss
// ---------------------------------------------------------------------------//

body {
 	background-color:white;
  	font-family: $mainFont;
  	font-size: 1.1em;
  	line-height: 1.6;
	color: $ltBlack;
}

.containerWrapper{
	padding: 60px 0px; 

	.container{
		margin: 0 auto; 
		padding: 0px 2em; 
		//border: solid 1px $ltBlack; 
	}
}


#visualLead{// Container Wrapper
	background-color: $offWhite;
	background: url(../img/road.jpg) no-repeat 50% center fixed;
    background-size: cover;
    min-height: 500px;
    color:white;
    position:relative;
    .container{
    	// position:absolute;
    	// top:50%;
    	// left:50%;
    	// transform:translate(-50%,-50%); 
	    h2{
	    	text-align:center;
	    	font-size: 2.3em; 
	    	padding: 10px;  
	    }
	    p{
	    	text-align:center;
	    	margin: 10px auto; 
	    }
	}
}
#ourTeam{
	background-color: $offWhite;
	.container{
		h2{
			text-align: center;
    		font-size: 3em;
    		padding: 10px;
		}

		.teamImages{
			display:flex; 
			flex-direction:row; 
			flex-wrap: wrap; 
			justify-content: center; 
			
			figure{
				//flex-basis:auto; 
				//flex-grow:1; // need to decide if i want to keep or not
				padding: 20px 0;
				//border: solid 1px $ltBlack;
				margin: 10px 15px;

				img{
					border-radius: 100%;
					display:block;
					margin:0 auto; 
					max-width: 250px;
					max-height: 250px; 
				}
				h4{
					text-align:center; 
				}
				.teamMemberTitle{
					font-weight:lighter;
					text-align: center; 
				}
				.teamMemberDescription{
					text-align: center; 
					max-width:300px; 
					margin: 0 auto; 
					padding: 10px; 
				}
			}	
		}
	}
}
#contactUs{
	background-color: white;
	.container{

	}
}




.stickyFooter{
	min-height: calc(100vh - 101px);
}
footer{
	background-color:$dumontDkBlue; 
	color:white; 
	text-align: center;
	padding: 2em 0;
	a{
		color:white;
	}
	a:hover{
		color:dumontYellow; 
	}
}

