// _variables.scss

// ---------------------------------------------------------------------------//

@import "https://fonts.googleapis.com/css?family=Roboto:100,400,400i,700";
$mainFont : 'Roboto', sans-serif;


//Dumont Color Scheme  
$dumontLtBlue		:#4cccd5; 
$dumontLtBlueFaded	:rgba(76, 204, 213, 0.65);
$dumontYellow		:#f1e139;
$offWhite			:#dee2dd;
$dumontDkBlue		:#1f3039;
$dumontDKBlueFaded	:rgba(31, 48, 57, 1);// should be 0.95 

//Usefule Colors
$ltBlack		:#3a3a3a;




//Length Variables 
$footerHeightPx	: 101px