// _base.scss
// ---------------------------------------------------------------------------//

//Core Partials
@import "_normalize";
@import "_tagPreset";
@import "_variables";
@import "_mixins";

body {
 	background-color:white;
  	font-family: $mainFont;
  	font-size: 1.1em;
  	line-height: 1.6;
	color: $ltBlack;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}
